{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----------------------------------------------------------------------------------------------- WEBSITE TITLE --------------------------------------------------->
    <title>Unity website</title>

    <!----------------------------------------------------------------------------------------------- WEBSITE LOGO LINK --------------------------------------------------->
    <link rel="icon" href="{% static 'Resources/IMG/Logo.png' %}">

    <!----------------------------------------------------------------------------------------------- WEBSITE CSS LINK --------------------------------------------------->
    <link rel="stylesheet" href="{% static 'Resources/CSS/Billingpage_style.css' %}">
</head>
<body>
    <!----------------------------------------------------------------------------------------------- BILLING SECTION --------------------------------------------------->
    <section class="billing section">
        <div class="bill__container">
            <div class="bill__data">
                <h2 class="bill__title">Billing Counter</h2>
            </div>

            <div class="billing__section">
            </div>
        </div>
    </section>
</body>
</html>