{% load static %}

<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <!--***************************************** WEBSITE TITLE ***********************************-->            
            <title>Unity Website</title>

            <!--***************************************** WEBSITE CSS STYLE ***********************************-->
            <link rel="stylesheet" href="{% static 'Resources/CSS/Formpage_style.css' %}">
            
            <!--***************************************** WEBSITE LOGO ***********************************-->
            <link rel="icon" href="{% static 'Resources/IMG/Logo.png' %}">
        </head>
        <body>
            <section class="form">
                <div class="form__data">
                    <h1 class="form__title"> Reset password </h1>
                </div>
                
                <div class="form__container">
                    <form action="" method="post" class="Resetpassword_Form">
                        {% csrf_token %}
                        
                        <label for="Password">Password:</label>
                        <input type="password" placeholder="Password" name="Password" id="Password">
        
                        <br><br>
        
                        <label for="Confirm-Password">Confirm-Password:</label>
                        <input type="text" placeholder="Confirm-Password" name="Conirm_password" id="Conirm_password">
                        
                        <button id="Resetpassword_btn" type="submit" class="Resetpassword_button">
                            <a href="Login">Reset password</a>
                        </button>
                    </form>
                </div>
            </section>
        </body>
    </html>